html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #b1dd8c;
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 65% 35%
}

.spaceman {
    background-color: rebeccapurple;
    margin: 3vh;
    position: relative;
}

.answer {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.keyboard {
    grid-column: span 2;
    display: grid;
    flex-direction: column;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 1vh 0 1vh 0;
}

.row1-holder {
    margin: 0 50px 1vh 50px; 
    display: flex;
    justify-content: center;
}
.row1 {
    display: flex;
    justify-content: center;
    margin: 0 0 1vh 0;
    width: 100%;
    height: 100%;
}
.row2-holder {
    margin: 0.5vh 50px 0.5vh 50px;
    display: flex;
    justify-content: center;
}
.row2 {
    display: flex;
    width: 90%;
    height: 100%;
}
.row3-holder {
    margin: 1vh 50px 0 50px;
    display: flex;
    justify-content: center;
}
.row3 {
    display: flex;
    width: 70%;
    height: 100%;
}

.hint {
    background-color: green;
    margin-top: 2vh;
    font-size: 6vh;
}

.category {
    background-color: red;
    font-size: 3.5vh;
}

.answer-keys {
    background-color: blue;
    margin: 1.5vh;
    margin-top: 4vh;
    height: 25vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /* height: 80%; */
    height: auto;
    max-height: 80%;
}

.head {
    background-color: black;
    /* position: absolute;
    height: 30%;
    width: 20%;

    margin-left: 18vw;
    z-index: 3; */
}
.LArm {
    background-color: aqua;
    /* position: absolute;
    height: 35%;
    width: 8%;

    margin-left: 31%;
    margin-top: 17.5vh;
    z-index: 1; */
}
.torso {
    background-color: yellow;
    /* position: absolute;
    height: 40%;
    width: 20%;

    margin-left: 18vw;
    margin-top: 17.5vh;
    z-index: 2; */
}
.RArm {
    background-color: red;
    /* position: absolute;
    height: 35%;
    width: 8%;

    margin-left: 58%;
    margin-top: 17.5vh;
    z-index: 1; */
}
.LLeg {
    background-color: tomato;
    /* position: absolute;
    height: 35%;
    width: 8%;

    margin-left: 40%;
    margin-top: 0;
    z-index: 1; */

}
.RLeg {
    background-color: rgb(71, 255, 157);
    /* aspect-ratio: 0.5/1;
    width: 15%;

    margin-left: 50%;
    margin-top: 13.5vh;
    z-index: 1; */
}
